.container {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  max-width: 650px;
  margin: 30px auto;
  padding: 40px 60px;
  font-family: "Ubuntu", sans-serif;
}

h1,
h2 {
  color: #3f51b5;
  font-weight: bold;
}

h1 {
  font-size: 35px;
}

h2.other-days {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

li {
  list-style: none;
  color: #607d8b;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}

li:first-letter {
  text-transform: capitalize;
}

p {
  text-align: center;
  font-size: 15px;
  color: #607d8b;
}

i {
  color: #3f51b5;
  font-size: 25px;
  position: relative;
  left: 35px;
  margin-top: 10px;
  margin-bottom: 15px;
}

hr {
  color: #607d8b;
}

button {
  margin-top: 20px;
}

.footer {
  text-align: center;
  margin-top: 10px;
  color: #607d8b;
  font-size: 10px;
}

.today-temp img {
  height: 90px;
  width: 90px;
}

.today-temp strong {
  color: #3f51b5;
  font-size: 50px;
  line-height: 2;
  margin-left: 30px;
}

.today-temp .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}
