.container {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 60px;
}

h1,
h2 {
  color: #3f51b5;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 35px;
}

.today-temp {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.units {
  font-size: 20px;
  margin-left: 10px;
}

h2.other-days {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

p {
  color: #607d8b;
  font-family: "Ubuntu", sans-serif;
}

p.today-description {
  font-size: 20px;
  margin-top: 20px;
}

p.other-days-temp {
  text-align: center;
  font-size: 15px;
}

i {
  color: #3f51b5;
  font-size: 25px;
  position: relative;
  left: 35px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.today-icon {
  color: #3f51b5;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}

hr {
  color: #607d8b;
}
